.side_bar 
  .side_bar__user
    .side_bar__user__box
      .side_bar__user__box__name
        masa
      .side_bar__user__box__icon
        = link_to "#", class: "side_bar__user__box__icon__comment" do
          = icon('fas', 'edit')
        = link_to "#", class: "side_bar__user__box__icon__set" do
          = icon('fas', 'cog')
  .side_bar__group
    .side_bar__group__list
      .side_bar__group__list__name
        techcamp
      .side_bar__group__list__message
        まだメッセージがありません
