* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  .side_bar {
    background-color: #253141;
    height: 100vh;
    width: 300px;
    
    &__user {
      background-color: #253141;
      height: 100px;
      width: 300px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      line-height: 20px;

      &__box {
        background-color: #333333;
        height: 20px;
        width: 260px;
        justify-content: space-between;
        margin: auto;
        display: flex;

        &__name{
          color: #ffffff;
          font-size: 16px;
          height: 20px;
          width: 200px;
        }

        &__icon{
          height: 20px;
          display: flex;
          color: #ffffff;
          .edit{
            color: white;
            margin-right: 5px;
           }

           .cog{
            color: white;
           }
        } 
      }
    }
    
    &__group{
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      width: 300px;
      padding: 20px 20px 0;

        &__list{
          padding-bottom: 40px;
          font-weight: bold;

          &__name{
            font-size: 15px;
            margin-bottom: 5px;
            color: white;
          }

          &__message{
            height: 40px;
            font-size: 11px;
            color: white;
          }
        }
      }
    } 
  
  .main_chat {
    height: 100vh;
    width: calc(100vw - 300px);

    &__header {
      background-color: #ffffff;
      height: 100px;
      width: calc(100vw - 300px);
      padding: 0 40px;
      display: flex;
      justify-content: space-between;

      &__left{
        font-size: 20px;
        margin-top: 35px;
        list-style: none;

        &__member{
          color: #999999;
          font-size: 12px;
          margin-top: 15px;

          &__list{
            display: flex;
          } 
        }
      }
      &__btn{
        color: #38aef0;
        height: 40px;
        width: 72px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
        display: inline-block;
        border: solid 1px;
      }
    }

    .messages {
      background-color: #fafafa;
      width: calc(100vw - 300px);
      height: calc(100vh - 100px - 90px);
      padding: 46px 40px;
      overflow: scroll;

      .message{
        padding-bottom: 46px;
        .upper-message{
          display: flex;
          margin-bottom: 10px;
          &__user-name{
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date{
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        .lower-message{
            color: #434a54;
            font-size: 12px;
            margin-bottom: 10px;
          }
      }
    }
  }

    .form {
      background-color: #d2d2d2;
      height: 90px;
      padding: 20px 50px 40px;
      box-sizing: border-box;
    }
    
    .new-message{
      display: flex;
    }
    .input-box {
      width: calc(100% - 120px);
      float: left;
      height: 50px;
      padding-left: 5px;
    }

    .input-box-text{
      float: left;
      height: 50px;
      color: #434a54;
      border-style: none;
      position: relative;
    }

    .input-box__file {
      display: none;
    }

    .input-box__image {
      line-height: 50px;
      position: absolute;
      right: 15px;
    }
    
    .submit-btn{
      background-color: #38aef0;
      color: white;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      cursor: pointer;
      float: right;
    }
  }